<h2>Restyle Me!</h2>

<h3>Please search for a particular style </h3>

<div>

<%= form_for @item do |f| %>
<%= f.label :gender, 'Please select your gender' %>
<%= f.select :gender, options_for_select([['Female','1'],['Male','2']]) %>
<% end %>

<%= form_for @item do |f| %>
<%= f.label :condition, 'Please select the condition of the item' %>
<%= f.select :condition, options_for_select([['Brand new with tags still attached','3'], ['Worn once or twice','4'], ['Used','5']]) %>
<br>

<%= form_for @item do |f| %>
<%= f.label :size, 'Please select your size' %>
<%= f.select :size, options_for_select([['XXS','6'], ['XS','7'], ['S','8'], ['M','9'], ['L','10'], ['XL','11'], ['XXL','12'], ['----'], ['6','13'], ['8','14'], ['10','15'], ['12','16'], ['14','17'], ['16','18'], ['18','19'], ['20','20']]) %>
<% end %>

<br>

<%= f.submit %>
<% end %>
</div>