<%= form_for @item do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </p>

    <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <% Category.all.each do |category| %>
    <%= check_box_tag "item[category_ids][]", category.id, @item.category_ids.include?(category.id), id: dom_id(category) %>
    <%= label_tag dom_id(category), category.name %><br>
  <% end %>

<div>

<%= f.submit %>

<% end %>
