<div class="showclothes">
	<h2><%= @item.name %></h2>
		<p>
			<img src="<%= @item.image_url %>">
		</p>

		<p>
			<%= @item.description %>
		</p>

<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Delete', @item, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>